@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&&family=Rubik:ital,wght@0,400;0,700;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

:root {
    --headings: hsl(206, 15%, 17%);
    --text: hsl(206, 15%, 27%);
    --border-grey: hsl(0, 0%, 60%);
    --red-accent: hsl(15, 83%, 35%);
    --cream-accent: hsl(60, 9%, 81%);
    --accent2: hsl(201, 11%, 58%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:hover {
    transition: all ease .3s !important;
}

button,
button:hover {
    transform: skewX(0deg);
    transition: all ease .3s !important;
}

.vh {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.vh:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(43.2, 22.9%, 78.6%);
    min-width: 244px;
    /* height: 100vh; */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: #fff;
    /* position: relative; */
}

.login_img {
    flex: 1 1 50%;
}


.login_img img {
    max-height: 367px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


img.repeat-top,
img.repeat-bottom {
    display: none;
}

.login_details {
    padding: 2rem;
    flex: 2 2 auto;
    width: 100%;
}

#logo {
    width: 100%;
    max-width: 150px;
    background-color: #ffffff6b;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-top: 2px solid var(--headings);
    border-bottom: 2px solid var(--headings);
}

h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--headings);
    font-family: 'Candal', sans-serif;
    font-weight: 900;
    font-size: 3.2rem;
    font-size: clamp(3.2rem, -1.7rem + 25vw, 7rem);
    text-align: center;
    letter-spacing: 5px;
    transition: all ease .5s;
}

h1 span {
    color: var(--cream-accent);
    text-shadow: -1px 1px 2px var(--headings),
        1px 1px 2px var(--headings),
        1px -1px 0 var(--headings),
        -1px -1px 0 var(--headings);
    /* border: 1px solid #d2d2c9; */
    border: 1px solid #d74608a4;
    font-style: italic;
    color: var(--cream-accent);
    text-shadow: -1px 1px 2px var(--red-accent), 1px 1px 2px var(--red-accent), 1px -1px 0 var(--red-accent), -1px -1px 0 var(--red-accent);
}

#login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: stretch;
    align-items: stretch;
}

.form-field {
    margin: .55rem 0;
}

label {
    margin-left: .25rem;
    width: 100%;
    color: var(--text);
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 900;
}

label i {
    font-style: normal;
    color: hsl(9, 72%, 48%);
    font-weight: 400;
}

input {
    font-family: 'Chivo', sans-serif;
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    border: 0;
    border: 2px;
    border-bottom: 1px solid var(--border-grey);
    margin-top: .5rem;
    transition: all ease .5s;
}

input::placeholder {
    font-style: normal;
    font-weight: 400;
}

input:focus-visible {
    outline: 2px solid var(--border-grey);
    border: 0 !important;
    border-radius: 50px;
    transition: all ease .5s;
}

.error {
    display: flex;
    font-family: 'Chivo', sans-serif !important;
    align-items: center;
    gap: .25rem;
    margin-top: .5rem;
    color: hsl(9, 80%, 44%);
    font-size: .8rem;
    height: 20px;
}

.error svg {
    width: 20px;
    height: auto;
    fill: hsl(9, 72%, 48%);
}

input:user-invalid {
    border-color: #f33;
}

#login_btns {
    text-align: center;
}

#login_btns p {
    font-size: .8rem;
    font-family: 'Chivo', sans-serif;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d2d2c9;
    line-height: 0.1em;
    margin: 10px 0 12px;
    color: var(--text);
}

#login_btns p span {
    background: #fff;
    padding: 0 10px;
}

button {
    margin: .5rem 0;
    padding: .75rem;
    width: 100%;
    transform: skewX(-10deg);
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

#login {
    background-color: hsl(206, 15%, 17%);
    color: #fff;
    border: 0;
    border: 1px solid var(--border-grey);

}

#login:hover {
    background-color: #d2d2c9;
    color: var(--red-accent);
    border: 1px solid var(--border-grey);
}

#login_alt {
    margin-bottom: 1.5rem;
    background-color: #fff;
    color: var(--headings);
    border: 1px solid var(--border-grey);
}

#login_alt:hover {
    /* background-color: hsl(206, 15%, 27%);
    color: #fff;
    border-color: #000; */
    background-color: #d2d2c9;
    color: var(--red-accent);
    border: 1px solid var(--border-grey);
}

.small {
    text-align: center;
    font-size: .8rem;
}

.small a {
    color: gray;
    font-family: 'Chivo', sans-serif;
}

.small a:hover {
    color: var(--text);
}


@media screen and (min-width: 680px) {

    .container {
        padding: 2rem;
        align-items: center;
    }

    main {
        max-width: 1000px;
        margin: 0 1rem;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    #logo {
        max-width: 100px;
        margin-bottom: 3rem;
        border: 0;
        position: initial;
        transform: none;

    }

    h1 {
        font-size: 6vw;
        text-align: left;
        letter-spacing: unset;
        margin-bottom: 0;
    }

    .login_details {
        position: relative;
        z-index: 1;
        padding: 2rem;
    }

    .login_img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.9fr 0.2fr;
        gap: 1.5rem;
        /* max-height: 600px; */
        flex: 1 1 40%;
        grid-template-areas:
            "repeat-top"
            "repeat-mid"
            "repeat-bottom";
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: clip;
    }

    .login_img img {
        height: 100%;
        max-height: unset;
        object-position: 70%;
    }

    img.repeat-top {
        grid-area: repeat-top;
        display: block;
    }

    img.repeat-mid {
        grid-area: repeat-mid;
    }

    img.repeat-bottom {
        grid-area: repeat-bottom;
        display: block;
        object-position: center 25%;
    }

    .login_details {
        width: unset;
        position: relative;
    }

    #login_form {
        gap: .25rem;
    }

    #login_btns {
        margin: 1.2rem 0 2.5rem;
    }

    .small {
        position: absolute;
        bottom: 1rem;
    }
}

@media screen and (min-height: 645px) and (min-width: 640px) {
    .container {
        height: 100vh;
        padding: 0;
    }
}