@font-face {
  font-family: Bebas Neue Regular;
  src: url("assets/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bodonimoda/v7/aFT67PxzY382XsXX63LUYL6GYFcan6NJrKp-VPjfJMShrpsGFUt8oXza8Id4tA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  background-color: #fff;
  border: 10px solid #fff;
}

body {
  background-color: hsl(34, 32%, 78%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h3 {
  font-family: "Bebas Neue Regular", cursive;
}

hr {
  border: 3px solid hsl(0, 0%, 0%);
}

header {
  max-width: 1050px;
  font-size: 1.5rem;
  letter-spacing: 0.5em;
  padding: 1rem;
}

main {
  max-width: 500px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-of-contents {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  row-gap: 2rem;
  padding: 1rem;
}

.page-number {
  font-family: "Bebas Neue Regular", cursive;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.23em;
  margin-left: 12px;
}

.chapter {
  font-family: "Bodoni Moda", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  line-height: 2rem;
}
